package-exp.json
package-lock.json
yarn-error.log
.DS_Store
.vscode/
amplify/#current-cloud-backend/
amplify/.config/local-aws-info.json
amplify/.config/local-env-info.json
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation/
app/.DS_Store
app/assets/.DS_Store
app/assets/third-party/.DS_Store
node_modules/
public/
package-lock.json
~origin_shreyas
package-lock.json~origin_shreyas
package-lock.json
npm